  <h1>Birre artigianali</h1>

  <div class="row">
    <div class="col-sm-6">
      <input type="text" class="form-control search" ng-model="searchString" placeholder="Cerca...">
    </div>
    <div class="col-sm-6">
      <select class="form-control" ng-model="order" ng-options="order.field as order.description for order in orders">
        <option value="">--Seleziona ordine--</option>
      </select>
    </div>
  </div>
  
  <div class="row">
     
     <div class="col-md-3 col-sm-4" ng-repeat="beer in beers | filter:searchString | orderBy:order">
       
       <div class="box">
         <img ng-src="http://www.f2.net/birrapp/{{beer.imageUrl}}" class="img-responsive">
          <div class="text">
            <p>{{beer.breweryName | uppercase}}</p>
            <p class="beer-name">{{beer.name | uppercase}}</p>
            <p class="beer-style">{{beer.style}}</p>
            <p class="numbers">{{beer.abv}}° | IBU {{beer.ibu}} | Voto: {{beer.averageRating | number:2}}</p>
          </div>

       </div>

     </div>

   </div>
