
<div class="row">
	
	<div class="col-sm-8">
		<h4>{{beer.breweryName}}</h4>
		<h1>{{beer.name}}</h1>

		<div class="main-data">
			<span class="label label-default">{{beer.style}}</span> 
			{{beer.abv | number:1}}° | IBU {{beer.ibu}}
		</div>

		<p><b>Malti:</b> {{beer.barleys}}</p>
		<p><b>Luppoli:</b> {{beer.hops}}</p>

		<p class="description">{{beer.description}}</p>

		<p>Voto medio: <span class="rating">{{beer.averageRating | number:2}}</span></p>

	</div>


	<div class="col-sm-4">
		<img ng-src="http://www.f2.net/birrapp/{{beer.imageUrl}}" class="img-responsive">
	</div>

</div>