<!DOCTYPE html>
<html lang="en" ng-app="birrApp" ng-cloak>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>BirrApp</title>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

    <link href="style.css" rel="stylesheet">

  </head>

  <body ng-controller="playController" >

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">BirrApp</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="#">Birre</a></li>
            <li><a href="#">Birrifici</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


    <div class="container">

      <div class="col-sm-2">
        <img ng-src="{{brewery.imageUrl}}" class="img-responsive">
      </div>

      <div class="col-sm-10">
        <h1>{{brewery.name}}</h1>

        <address>
          {{brewery.address}}<br>
          {{brewery.city}} ({{brewery.province}})
        </address>

        <ul>
          <li ng-repeat="beer in brewery.beers">{{beer.name}} ({{beer.style}}) <button class="btn btn-default" ng-click="addLike(beer)" ng-class="{'btn-success' : beer.likes >= 5}">{{beer.likes}} Like</button></li>
        </ul>

        <form name="addBeerForm" ng-submit="addBeer(newBeer)">
          <div class="form-group">
            <label>Nome</label>
            <input type="text" class="form-control" required ng-model="newBeer.name">
          </div>
          <div class="form-group">
            <label>Stile</label>
            <input type="text" class="form-control" required ng-model="newBeer.style">
          </div>
          <button type="submit" ng-disabled="addBeerForm.$invalid" class="btn btn-primary">Aggiungi birra</button>


        </form>


      </div>

      

      

    </div>
    

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    <script src="app.js"></script>
    <script src="playController.js"></script>









  </body>
</html>