body {
	margin-top: 80px;
	background-color: #f0f0f0;
}

h1 {
	margin-bottom: 40px;
}

.box {
	background-color: #fff;
	margin-bottom: 20px;
	text-align: center;
}

.box .text {
	padding: 15px;
}

.box .beer-name {
	font-size: 18px;
	font-weight: bold;
	height: 50px;
}

.box .beer-style {
	font-weight: bold;
	height: 40px;
}

.box .numbers {
	margin-bottom:0;
	font-size: 13px;
	border-top: 1px solid #ddd;
	padding-top: 5px;
}

.search {
	margin-bottom: 40px;
	border-radius: 20px;
}

.main-data {
	margin-bottom: 40px;
	font-weight: bold;
}

.main-data .label {
	font-size: 14px;
	margin-right: 10px;
}

.description {
	color: #666;
	margin-top: 20px;
	margin-bottom: 20px;
}

.rating {
	color: #c00;
	font-weight: bold;
}



